body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrapper{
  min-height:100vh;
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

th,td{
  padding: 20px;
}